[submodule "rapidjson"]
	path = CPP_Libraries/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "CPP_Libraries/ExcelLibrary"]
	path = CPP_Libraries/ExcelLibrary
	url = https://github.com/jmcnamara/libxlsxwriter.git
[submodule "CPP_Libraries/TSPLib"]
	path = CPP_Libraries/TSPLib
	url = https://github.com/mastqe/tsplib.git
